# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
.next-preview/
.next-build/
out/

# Environment
.env*.local
.env

# Vercel
.vercel

# Rust
contracts/*/target/

# Misc
.DS_Store
*.pem

*.tsbuildinfo
